@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family:'Ubuntu', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-image: url(https://img.freepik.com/premium-photo/png-waste-recycling-bin-background-watercolor-illustration_53876-939091.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content:flex-end;
    height: 4rem;
    background-color: #9cb69c;
    box-shadow: 1px green;
}

.nav-links a:hover{
    color:rgb(134, 130, 130);
    border: white;
    border-radius: 2px;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 1rem;
    color: #3b6c00;
    cursor: pointer;
}

.nav-logo:hover{
    color: #EAF3F0;
}

.nav-links a{
    color:white;
    text-decoration: none;
    margin-left:5rem;
    margin-right: 2rem;
    font-size: 2vh;
    font-weight: 600;
}

.para h1{
   margin-top: 4rem;
    margin-left:4rem;
    color:#c6914b;
    font-size: 100%;
}

.para p{
    width: 50%;
    margin-top: 1rem;
    margin-left:4rem;
    color:#CEAC80;
}

.intro{
    color:#80B83B;
    height:100px;
    width:50%;
    text-align: center;
    margin-top:4rem;
}
.intro p{
    margin-top: 1rem;
}

.loginbuttons button{
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    font-weight:500;
}

.loginbuttons{
    display: flex;
    height:200px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.BBMPLoginBut{
    background-color: #80B83B;
    border-radius: 10px;
    border: none;
    color:#EAF3F0;
}

.BBMPLoginBut:hover{
    background-color: #477c07;
}

.SchoolLoginBut{
    background-color: #5CB7FF;
    border-radius: 10px;
    border: none;
    color:#F4F6F1;
    margin-left:4rem;
}

.SchoolLoginBut:hover{
    background-color: #038eff;
}
.loginentry{
    display: flex;
    height:200px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.loginentry input{
    padding:10px 30px 10px 30px;
    font-size: 14px;
    font-weight:500;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10px;
    color:#000000;
}

.dataBBMP {
    display: flex;
    flex-wrap: wrap;  
}

.headdash{
    margin-left: 3rem;
    margin-top: 2rem;
    color: #80B83B;
}

.box{
    height:25vh;
    width: 25vh;
    margin-top:2rem;
    background-color: #80B83B;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
}

.box h2{
    text-align: center;
    padding-top: 1rem;
    color:#F4F6F1;
    font-size: 3vh;
}

.box h1{
    text-align: center;
    padding-top: 4rem;
    font-size: 60px ;
    color: white;
    font-size: 5vh;
}

.school-head h1{
    margin-left: 3rem;
    margin-top: 2rem;
    color: #80B83B;
    width: 100%;
}

.school-head p{
    margin-left: 3rem;
    font-weight: 400;
    color: #80B83B;
}

.studentdata{
    display: flex;
}

.data-head{
    display:flex;
    width:500px;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.green-points ol{
    list-style: none;
}

.school-dash {
    display: flex;
    margin-bottom: 15rem;
}

@media(max-width:768px){
    body{
        background-image: none;
    }
    
    .nav-links a{
        height: 12px;
        font-size: 12px;
        margin:0;
        margin-right: 1rem;
    }
    .intro{
        height:auto;
        width:auto;
    }
    .loginbuttons{
        height:auto;
        width:auto;
        margin-top: 100px;
    }
    .loginentry{
        height:auto;
        width:auto;
    }
}