body{
    background-color: palegreen;
}
#logo{
    height: 100px;
}
#heading{
    text-align: center;
    background-color: green;
}
#WebName{
    font-family: 'Lucida Sans';
    font-style: italic;
}
.buttons{
    text-align: center;
    margin-top: 200px;
}
#BBMPLogin{
    padding: 15px 32px;
    font-size: 16px;
    color:white;
    background-color: green;
    border-radius: 20%;
    font-family: 'Lucida Sans';
}
#SchoolLogin{
    margin-left: 100px;
    padding: 15px 32px;
    font-size: 16px;
    color:white;
    background-color: blue;
    border-radius: 20%;
    font-family: 'Lucida Sans';
}
.nav-links{
    list-style: none;
    background-color: palegreen;
    display: flex;
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
}
.para{
    font-family: sans-serif;
    text-align: center;
    margin-top: 60px;
}
.SchoolLogIn{
    text-align: center;
    margin-top: 20px;
}
.BBMPLogIn{
    text-align: center;
    margin-top: 20px;
}
.username{
    padding: 15px 32px;
    font-size: 16px;
}
.password{
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 16px;
}
.LoginHeading{
    text-align: center;
}
.submitbutton{
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 16px;
}